<%# Show errors %>
<div class="erros">
    <% if @project.errors.any? %>
        <h2>
            <%= pluralize(@project.errors.count, "errores") %>
            prohibieron la creacion del proyecto:
        </h2>
        <ul>
            <% @project.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% else %>
        <h1>Tu proyecto fue creado con exito!</h1>
    <% end %>
</div>